@media screen and (max-width: 480px) {
  .pose-detection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pose-img {
    display: none;
  }
}

:focus-visible {
  outline-offset: 4px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--light-gray);
}

::-webkit-scrollbar-thumb {
  background-color: var(--coquelicot);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--rich-black-fogra-29-1);
}